.box1 {
	background-color: #FF0000;
	height: 200px;
	width: 200px;
	float: left;
}

.bg1 {
	background-color: #FFAAAA;
}

.bg2 {
	background-color: #FFBBBB;
}

.bg3
.box1-ext {
	border: 10px solid black;
}